.background {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainCamera {
    width: 100%;
    height: 100%;
    position: absolute;
}
.faceInputCamera {
    width: 100%;
    height: 100%;
    display: none;
    z-index: -1;
    position: absolute;
}

.cameraStats {
    background-color: rgba(255, 255, 255, 0.5);
}

.cameraOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cameraOverlay>* {
    /* border: 2px red solid; */
}

.cameraHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cameraFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cameraButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cameraButtons>* {
    margin: 0.5rem 0.5rem 0rem 0.5rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.captureButton {
    width: 5.2rem;
    height: 5.2rem;
    background: transparent;
    border: 0.5rem solid rgb(255, 255, 255);
    border-radius: 50%;
}

.slidingMenuContainer {
    width: 7.2em;
    height: 7.2em;
    background-color: white;
    position: absolute;
}

.faceEffectsCanvas, .visualEffectsCanvas, .imageCanvas {
    position: absolute;
    /* background-color: rgba(255, 10, 10, 0.2) */
}
.faceEffectsCanvas {
    /* border: 2px cyan solid; */
}
.visualEffectsCanvas {
    /* border: 2px red solid; */
}
.imageCanvas {
    /* border: 2px blue dotted; */
    /* display: none; */
}
.disabled {
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

/* ANIMATIONS */

.loading {
    background-color: yellow;
    background-image: url('../../Assets/images/snapchat-background.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


@keyframes fadeOut {
    0% {
        background-color: yellow;
    }
    100% {
        background-color: rgba(255, 255, 0, 0);
    }
  }

.fadeOut {
animation: fadeOut;
animation-duration: 0.3s;
}

@keyframes fadeIn {
    0% {
        background-color: rgba(255, 255, 0, 0);
    }
    100% {
        background-color: yellow;
    }
  }

.fadeIn {
animation: fadeIn;
animation-duration: 1s;
}

.slider {
    background-color: transparent;
    width: 85%;
    border: 1px white solid;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: fixed !important;
    margin-bottom: 2.2rem;
}

.sliderItem {
    border: 0.25rem white solid;
    display: flex !important;
    background-color: red;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem !important;
    overflow: hidden;
    border-radius: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.slick-slide {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}