.background {
    border: 2px solid red;
    height: 100%;
    width: 92%;
    overflow: auto;
}

.background h2 {
    padding: 0.5rem 0 0.5rem 0;
}

.peopleList {
    width: 99%;
    margin-bottom: 2rem;
    border-radius: 0.8rem;
    box-shadow: 1px 1px 10px rgb(145, 145, 145);
}

.peopleList li:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.peopleList li:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
