.background {
    width:100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.background > img {
    height: 9rem;
    width: 6rem;
    margin: 0.3rem;
    box-shadow: 0px 0px 4px rgb(145, 145, 145);
}