.accountItem {
    /* border: 2px red solid; */
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.accountModal {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(189, 255, 183, 0.8);
}
.accountModal > * {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0 0.2rem 0 0.2rem;
}
