.background {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
}
header {
    padding: 1rem;
    background-color: transparent;
    border: 2px red solid;
}
button {
    border: none;
    background-color: none;
}