.background {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.background header {
    background-color: transparent;
    border: 2px red solid;
    width: 100%;
}
.background button {
    border: none;
    background-color: none;
    margin: 1rem;
}